/* Hide scrollbar for all elements */
::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@media (max-width: 500px) {
    .main h1 {
        font-size: 50px;
        line-height: 50px;
    }

    .pageTwo {
        height: 50vh;
    }

    .pageTwo .child h1 {
        font-size: 34px;
        line-height: 34px;
        white-space: nowrap;
    }

    .line3 {
        width: 50vw;
    }

    .pageThree .navtwo h1 {
        font-size: 53px;
    }

    .project {
        overflow-x: scroll;
    }

    .contact {
        flex-direction: column;
    }

    .containerOne {
        height: 100%;
        width: 100%;
    }

    input {
        height: 80px;
        width: 250px;
    }

    .bigButton {
        height: 100px;
        width: 250px;
    }

    .containerTwo {
        display: none;
    }

    .main2 h1 {
        font-size: 80px;
    }
}

.cursor {
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: none;
    filter: blur(50px);
    background-color: rgba(0, 0, 0, 0.3);
}

.bigimg {
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
}

input {
    border: 1px solid black;
    padding-left: 20px;
    background: rgba(0, 0, 0, 0.053);
    backdrop-filter: blur(30px);
    outline: none;
}

.containerOne {
    border: 1px solid black;
}

.containerTwo {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.bigButton {
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.053);
    backdrop-filter: blur(30px);
}

@media (min-width: 400px) {
    .pageOne button {
        height: 40px;
        width: 144px;
    }
}

@media (max-width: 500px) {
    .pageThree .sameIMG {
        opacity: 1 !important;
        pointer-events: auto;
    }
}