@media (max-width: 400px) {
    .main h1 {
        font-size: 50px;
        line-height: 50px;
    }

    .pageTwo {
        height: 50vh;
    }

    .pageTwo .child h1 {
        font-size: 36px;
        line-height: 36px;
        white-space: nowrap;
    }

    .line3 {
        width: 50vw;
    }

    .pageThree .navtwo h1 {
        font-size: 53px;
    }

    .project {
        overflow-x: scroll;
    }

    .contact {
        flex-direction: column;
    }

    .containerOne {
        height: 100%;
        width: 100%;
    }

    input {
        height: 80px;
        width: 250px;
    }

    .bigButton {
        height: 100px;
        width: 250px;
    }

    .containerTwo {
        display: none;
    }

    .main2 h1 {
        font-size: 80px;
    }
}

.cursor {
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: none;
    filter: blur(20px);
}

input {
    border: 1px solid black;
    padding-left: 20px;
    background: rgba(0, 0, 0, 0.053);
    backdrop-filter: blur(30px);
    outline: none;
}

.containerOne {
    border: 1px solid black;
}

.containerTwo {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.bigButton {
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.053);
    backdrop-filter: blur(30px);
}
@media (min-width: 400px) {
    .pageOne button{
        height: 40px;
        width: 144px;
    }    
}